ul {
  display: flex;
  gap: 50px;
  font-size: 30px;
  font-weight: bold;
}

ul li {
  list-style: none;
  text-align: center;
  padding-top: 20px;
  border: 3px darkgray solid;
  border-radius: 20px;
  height: 320px;
  width: 220px;
}

li:first-child {
  background: url("0-sprite.png") 20px 60px rgb(247, 247, 247);
  background-size: 550px;
  background-repeat: no-repeat;
}

li:nth-child(2) {
  background: url("0-sprite.png") -160px 60px rgb(247, 247, 247);
  background-size: 550px;
  background-repeat: no-repeat;
}

li:nth-child(3) {
  background: url("0-sprite.png") -350px 60px rgb(247, 247, 247);
  background-size: 550px;
  background-repeat: no-repeat;
}
